<div class="container">
  <div class="jumbotron" id="header-risk">
    <h1>Take a Risk Today</h1>
    <p>Bored? Need something to do with your date? No problem! We have the perfect solution for you!</p>
  </div>
</div>

<div class="container bg-2 text-center">
  <form action="/events" method="get">
    <% if @result %>
      <p id="result"><%= @result %></p>
    <% end %>
      <input id="sub-btn" class="btn btn-primary btn-block" type="submit" value="Be Bold!" class="form-control">
  </form>
</div>
  <div class="fluid-container">
    <img id="my-img" src="https://66.media.tumblr.com/f1299905002547f2ea978324add0a83a/tumblr_nhu8zj1Ngr1tmxne6o1_500.gif">
  </div>
</div>
